**Some basic methods of pandas**

In [1]:
import pandas as pd
import numpy as np

In [2]:
m = np.array(range(2, 27, 3)).reshape(3, 3)

In [3]:
np.random.shuffle(m)

In [4]:
m

array([[ 2,  5,  8],
       [11, 14, 17],
       [20, 23, 26]])

In [5]:
df = pd.DataFrame(m)

In [6]:
df

    0   1   2
0   2   5   8
1  11  14  17
2  20  23  26

In [7]:
df.set_index(pd.Series([1, 2, 3]))

    0   1   2
1   2   5   8
2  11  14  17
3  20  23  26

In [8]:
mtx = np.random.rand(30, 30)

In [9]:
df1 = pd.DataFrame(mtx)

In [10]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.642545,0.279010,0.961061,0.420411,0.884218,0.458899,0.557536,0.765870,0.832874,0.558719,...,0.519346,0.344084,0.855906,0.070178,0.532805,0.804915,0.883006,0.846151,0.537570,0.948514
1,0.226287,0.852515,0.378313,0.503174,0.955168,0.642676,0.778044,0.752021,0.280504,0.750562,...,0.240730,0.280841,0.772411,0.758372,0.671243,0.991756,0.995975,0.830962,0.700093,0.396594
2,0.916522,0.938149,0.148479,0.329797,0.823535,0.617220,0.208724,0.762389,0.359349,0.033689,...,0.963217,0.717979,0.390010,0.560366,0.698729,0.329189,0.601133,0.746514,0.771983,0.668505
3,0.825914,0.124949,0.885235,0.146639,0.434887,0.185285,0.643024,0.699937,0.496408,0.519753,...,0.535063,0.557098,0.925028,0.864472,0.009380,0.985973,0.942191,0.372853,0.705187,0.814756
4,0.114847,0.300297,0.977836,0.465591,0.574372,0.400772,0.662858,0.799221,0.493761,0.326790,...,0.887829,0.765595,0.494317,0.075255,0.151929,0.578019,0.764018,0.976730,0.684419,0.582045

In [11]:
df1 = df1.drop(columns=[0], index=[0])

In [12]:
df1

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
1,0.852515,0.378313,0.503174,0.955168,0.642676,0.778044,0.752021,0.280504,0.750562,0.097055,...,0.240730,0.280841,0.772411,0.758372,0.671243,0.991756,0.995975,0.830962,0.700093,0.396594
2,0.938149,0.148479,0.329797,0.823535,0.617220,0.208724,0.762389,0.359349,0.033689,0.310367,...,0.963217,0.717979,0.390010,0.560366,0.698729,0.329189,0.601133,0.746514,0.771983,0.668505
3,0.124949,0.885235,0.146639,0.434887,0.185285,0.643024,0.699937,0.496408,0.519753,0.885510,...,0.535063,0.557098,0.925028,0.864472,0.009380,0.985973,0.942191,0.372853,0.705187,0.814756
4,0.300297,0.977836,0.465591,0.574372,0.400772,0.662858,0.799221,0.493761,0.326790,0.235818,...,0.887829,0.765595,0.494317,0.075255,0.151929,0.578019,0.764018,0.976730,0.684419,0.582045
5,0.866644,0.679751,0.638787,0.581328,0.051803,0.318622,0.546272,0.869767,0.651544,0.074792,...,0.554473,0.144022,0.278385,0.832480,0.173724,0.741324,0.972358,0.059967,0.400109,0.600056
6,0.031192,0.861282,0.637595,0.782748,0.508181,0.879967,0.662149,0.370966,0.558260,0.518452,...,0.861592,0.234967,0.486679,0.760316,0.535637,0.169191,0.814415,0.327761,0.790463,0.636257
7,0.976374,0.448794,0.632374,0.386868,0.311077,0.312413,0.029473,0.976477,0.947068,0.122082,...,0.596976,0.741541,0.903453,0.885248,0.307401,0.871534,0.392279,0.374407,0.402889,0.244746
8,0.921007,0.823726,0.535683,0.129308,0.152481,0.545863,0.800160,0.339264,0.835522,0.950281,...,0.922789,0.073859,0.621697,0.272644,0.313752,0.098104,0.037616,0.587010,0.381439,0.184840
9,0.339829,0.070034,0.904840,0.189443,0.838672,0.812931,0.623281,0.824332,0.168045,0.107014,...,0.947652,0.571022,0.772208,0.033453,0.093304,0.037758,0.924031,0.976349,0.299450,0.398337
10,0.368539,0.540831,0.947631,0.595755,0.338727,0.881257,0.023616,0.480364,0.076073,0.053125,...,0.796318,0.948323,0.980068,0.221005,0.678540,0.384463,0.313592,0.211820,0.944102,0.845296
11,0.308648,0.575524,0.485942,0.106194,0.884582,0.599335,0.006672,0.826534,0.004354,0.024564,...,0.248170,0.889080,0.648535,0.853262,0.875925,0.862802,0.790850,0.702327,0.293519,0.595231
12,0.529084,0.119816,0.520455,0.801704,0.963943,0.101054,0.703386,0.082179,0.458025,0.272922,...,0.384891,0.251908,0.092220,0.818344,0.206130,0.336710,0.518546,0.382752,0.072047,0.235963
13,0.060475,0.789934,0.091657,0.097631,0.265517,0.223943,0.107672,0.232855,0.200326,0.529679,...,0.408513,0.205743,0.088430,0.597415,0.140053,0.370498,0.865453,0.620069,0.921669,0.023759
14,0.996293,0.882563,0.713032,0.577147,0.414279,0.763045,0.389847,0.914963,0.277528,0.961740,...,0.204923,0.428057,0.933814,0.619342,0.947578,0.628124,0.485103,0.851192,0.171544,0.842635
15,0.597180,0.145445,0.200138,0.253533,0.189736,0.952059,0.725610,0.415932,0.296455,0.870656,...,0.477611,0.008840,0.565971,0.176862,0.412650,0.500181,0.681510,0.959743,0.410461,0.146833
16,0.144922,0.855789,0.823058,0.331892,0.831775,0.819716,0.905816,0.897690,0.011679,0.334121,...,0.531777,0.498979,0.782289,0.625117,0.817656,0.722664,0.781627,0.047899,0.555416,0.526752
17,0.475341,0.208382,0.712215,0.717379,0.279913,0.600794,0.893254,0.189967,0.991021,0.473862,...,0.511116,0.292091,0.111581,0.990085,0.818659,0.428659,0.853064,0.577991,0.908099,0.196138
18,0.396016,0.085035,0.906323,0.100920,0.717327,0.638523,0.995608,0.149752,0.387143,0.605035,...,0.948068,0.749313,0.725635,0.501486,0.613160,0.270782,0.123439,0.284399,0.816513,0.577468
19,0.716881,0.131468,0.859072,0.754668,0.940576,0.996779,0.549820,0.141439,0.321701,0.243118,...,0.690791,0.451896,0.085939,0.992050,0.363301,0.295341,0.685358,0.067317,0.178259,0.577587
20,0.629850,0.979835,0.401617,0.661100,0.055091,0.498222,0.948889,0.381451,0.602497,0.859129,...,0.098883,0.421612,0.848203,0.067329,0.294299,0.212766,0.483560,0.294238,0.691796,0.872425
21,0.594281,0.941720,0.057766,0.784759,0.232798,0.907897,0.987213,0.895365,0.507933,0.490948,...,0.109250,0.432626,0.331583,0.586064,0.787845,0.421073,0.960048,0.547630,0.219816,0.818429
22,0.995636,0.218432,0.261629,0.211877,0.412348,0.484664,0.941524,0.070297,0.251448,0.428822,...,0.600794,0.005185,0.397023,0.916881,0.947352,0.437138,0.297925,0.268046,0.396280,0.806842
23,0.275312,0.794746,0.585269,0.222533,0.256740,0.480293,0.799889,0.522414,0.273287,0.835681,...,0.065154,0.220764,0.794567,0.701121,0.422719,0.860050,0.929997,0.966651,0.422625,0.087292
24,0.937260,0.937761,0.395432,0.424909,0.113362,0.514198,0.496414,0.610539,0.843905,0.421392,...,0.282254,0.550300,0.252969,0.312094,0.848615,0.546414,0.920478,0.130257,0.690389,0.997211
25,0.553267,0.955674,0.329727,0.859459,0.088718,0.995381,0.398474,0.486766,0.360058,0.965356,...,0.858874,0.072261,0.846972,0.070830,0.769988,0.434545,0.086124,0.625934,0.878559,0.082131
26,0.123209,0.060791,0.804543,0.480653,0.252991,0.377782,0.183667,0.345253,0.171322,0.253237,...,0.350802,0.416342,0.942132,0.232076,0.156356,0.421455,0.418891,0.016200,0.640375,0.539452
27,0.490441,0.070887,0.704777,0.484214,0.777852,0.785794,0.541490,0.691288,0.278797,0.535152,...,0.023228,0.637843,0.931781,0.211957,0.152130,0.702449,0.886711,0.646658,0.237489,0.943504
28,0.242259,0.163784,0.151211,0.144343,0.623415,0.998736,0.522633,0.144589,0.468226,0.995429,...,0.640476,0.189483,0.251710,0.356533,0.158786,0.577963,0.796266,0.920737,0.023632,0.924823
29,0.952651,0.067548,0.352019,0.694056,0.187689,0.982419,0.091763,0.773574,0.772852,0.967167,...,0.913109,0.977934,0.250019,0.864535,0.187413,0.820166,0.056623,0.679575,0.106655,0.421489

In [13]:
df1.describe()

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,...,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,0.542707,0.510325,0.520620,0.488358,0.432260,0.647046,0.582350,0.491863,0.425719,0.497328,...,0.539839,0.439155,0.569160,0.543345,0.467388,0.518520,0.633765,0.519103,0.507423,0.537496
std,0.318785,0.361678,0.260326,0.267334,0.288806,0.262390,0.311645,0.283150,0.281931,0.328798,...,0.301033,0.282109,0.304570,0.315769,0.302058,0.262040,0.306040,0.312896,0.281479,0.292210
min,0.031192,0.060791,0.057766,0.097631,0.051803,0.101054,0.006672,0.070297,0.004354,0.024564,...,0.023228,0.005185,0.085939,0.033453,0.009380,0.037758,0.037616,0.016200,0.023632,0.023759
25%,0.300297,0.145445,0.329797,0.222533,0.189736,0.484664,0.398474,0.280504,0.251448,0.243118,...,0.282254,0.220764,0.278385,0.232076,0.173724,0.336710,0.418891,0.284399,0.293519,0.244746
50%,0.529084,0.540831,0.520455,0.484214,0.338727,0.643024,0.662149,0.480364,0.360058,0.473862,...,0.535063,0.428057,0.621697,0.597415,0.412650,0.437138,0.764018,0.577991,0.422625,0.577587
75%,0.866644,0.861282,0.712215,0.717379,0.642676,0.879967,0.799889,0.773574,0.602497,0.859129,...,0.858874,0.637843,0.846972,0.832480,0.769988,0.722664,0.886711,0.746514,0.705187,0.814756
max,0.996293,0.979835,0.947631,0.955168,0.963943,0.998736,0.995608,0.976477,0.991021,0.995429,...,0.963217,0.977934,0.980068,0.992050,0.947578,0.991756,0.995975,0.976730,0.944102,0.997211

In [14]:
df1 = df1.drop(pd.Series(np.arange(4, 30)), axis=True)
df1.columns = list("ABC")
df1.tail()

           A         B         C
25  0.553267  0.955674  0.329727
26  0.123209  0.060791  0.804543
27  0.490441  0.070887  0.704777
28  0.242259  0.163784  0.151211
29  0.952651  0.067548  0.352019

In [15]:
df1.insert(3, 'D', np.random.rand(29))

In [16]:
df1.tail(4)

           A         B         C         D
26  0.123209  0.060791  0.804543  0.456901
27  0.490441  0.070887  0.704777  0.886278
28  0.242259  0.163784  0.151211  0.655306
29  0.952651  0.067548  0.352019  0.336616

In [17]:
df1.iloc[28] = np.random.rand(4)

In [18]:
df1.tail(4)

           A         B         C         D
26  0.123209  0.060791  0.804543  0.456901
27  0.490441  0.070887  0.704777  0.886278
28  0.242259  0.163784  0.151211  0.655306
29  0.624269  0.150278  0.214315  0.671899

In [19]:
newR = np.random.rand(4)
newR

array([0.71480697, 0.24551813, 0.99318527, 0.61724612])

In [20]:
df1.loc[30] = newR
df1.tail()

           A         B         C         D
26  0.123209  0.060791  0.804543  0.456901
27  0.490441  0.070887  0.704777  0.886278
28  0.242259  0.163784  0.151211  0.655306
29  0.624269  0.150278  0.214315  0.671899
30  0.714807  0.245518  0.993185  0.617246

In [21]:
df1 = df1.drop(np.arange(5, 31))
df1

          A         B         C         D
1  0.852515  0.378313  0.503174  0.519155
2  0.938149  0.148479  0.329797  0.986823
3  0.124949  0.885235  0.146639  0.743161
4  0.300297  0.977836  0.465591  0.598207

In [22]:
df1.loc[:,'A']

1    0.852515
2    0.938149
3    0.124949
4    0.300297
Name: A, dtype: float64

In [23]:
df1.A

1    0.852515
2    0.938149
3    0.124949
4    0.300297
Name: A, dtype: float64

In [24]:
df1.loc[1]  # First row

A    0.852515
B    0.378313
C    0.503174
D    0.519155
Name: 1, dtype: float64